/*Estilos ESTANDAR */
.google {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  
}

main {
  display: flex;
  flex: 1;
  
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
/* ------ */

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0;
}

.logo img {
  height: 100px;
  width: auto;
  margin: 0;
}
/* ----------Nav----------- */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* --------Barra de busqueda --------*/
.search-bar {
  position: relative;
  width: 20%;
  max-width: 600px; 
}

.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Espaciado interno, dejando espacio para el ícono  */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ecf0f1;
  color: #7e8380;
}

.search-bar input::placeholder {
  color: #7e8380; 
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%); 
  color: #7e8380; 
  font-size: 18px; /* Tamaño del ícono */
  cursor: pointer; 
}

/*---------------------------*/



/* -----------------------------------------------------------------------------------------------------*/

.barra-lateral {
  width: 20%;
  min-width: 216px;
  /* background-color: #c0bbbb; */
  background-color: #DBDBDB;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%; /* Para que la barra ocupe toda la altura disponible */
}

.barra-lateral h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.barra-lateral ul {
  list-style: none;
  padding: 0;
}

.barra-lateral ul li {
  margin-bottom: 0.5rem;
}

.barra-lateral ul li a {
  text-decoration: none;
  color: #333;
}

.barra-lateral ul li input[type="checkbox"] {
  margin-right: 0.5rem;
}

.barra-lateral ul li label {
  font-size: 1em;
  color: #333;
}

/*---------------------------------------------------------------*/

/* ---Estilos para las cards de los productos  INDEEX------------*/
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}

/* Ajuste para pantallas medianas */
@media (max-width: 1024px) {
  .products {
      grid-template-columns: repeat(2, 1fr); 
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .products {
      grid-template-columns: repeat(1, 1fr); 
  }
}


.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}


.product-card img {
  width: 100%; 
  /* height: 200px;  */
  aspect-ratio: 2/1;
  object-fit: cover; 
  border-bottom: 1px solid #ddd;
  margin:20px 20px 10px;
}


.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-card .precio {
  font-size: 1.2em;
  color: #83af5b;
  margin: 5px 0;
}

.product-card .description {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

/* Botón de compra */
.comprar-btn {
  display: inline-block;
  padding: 0.5rem 1rem; 
  background-color: #3cac6a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1rem; 
}

.comprar-btn:hover {
  background-color: #123d21;
}

/*----------------------------------------------------------------------------------*/
/*-------------------- ALTA PRODUCTOS------------------*/
/* 
  

} */
.product-form {
  max-width: 35%; 
  margin: 10px auto 20px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .product-form {
    max-width: 600px; 
  }}

.product-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.product-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-form input,
.product-form textarea,
.product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* En el caso de que me  decida x sacar para que se "agrande" el imput de textarea 
textarea {
  resize: none;
}*/

.product-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.product-form button {
  width: 100%;
  padding: 10px;
  background-color: #297e4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.product-form button:hover {
  background-color: #0056b3;
}
/*--------------------------------------------------------*/
/* -----------------CONTACTOO -------------  */
/*Para que el footer quede abajo  */
.contacto {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.contacto main {
  flex: 1;
  display: block;
}

/*---------------------------------------------------------------*/

.contact-form {
  width: 100%;
  margin: 3rem auto 0;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #297e4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}


/*todavia no me convece este color */
.contact-form button:hover {
  background-color: #75d6a9;
}
/*---------------------------------------------------------*/

/*-----------"NOSOTROS " ---------------*/

.nosotros {
  display: flex;
  flex-direction: column;
  min-height: 76vh;
}

body.nosotros main {
  flex: 1;
  display: block;
}

.nosotros h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #297e4c;
}

.nosotros p {
  max-width: 800px;
  margin: 0 auto 20px auto;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  text-align: center;
}

footer .footer-text {
  color: #ffffff;
  font-size: 1em;
}
/*---------------------------------------------------------------*/

/* header superior*/
div .col.text-left.d-none.d-md-block {
  font-size: 14px;
  line-height: 20px;
  background-color: #5c5a5a;
  text-align: left;
  height: 20px;
  width: 100%; 
  margin: 0;
  padding: 0 15px;
  max-width: 100%;
  max-height: fit-content;
  /* position: fixed; Fija la barra en la parte superior */
  top: 0; 
  left: 0; 
  z-index: 1000; 
  box-sizing: border-box;
}
.social-icon {
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.social-icon:hover {
  color: #ddd;
}

/* ------------Footer nuevo-------------- */
.footer-container {
  /* background-color: #E3E9E9; */
  background-color: #DBDBDB;
  padding: 20px;
  font-size: 14px;
  color: #6d6d6d;
  
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-column {
  width: 30%;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #4f4f4f;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column li i {
  margin-right: 10px;
}
/* redes */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content:center
}

.social-icons i {
  font-size: 24px;
  cursor: pointer;
  color: #6d6d6d;
  
}

.social-icons i:hover {
  color: #000;
}
/* medio de pago y de envio */
.footer-payment, .footer-shipping {
  text-align: center;
  margin-top: 20px;
}

.footer-payment img, .footer-shipping img {
  max-width: 100%;
}
/* footer inferior */
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #dcdcdc;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
  color: #4f4f4f;
}

.footer-bottom a {
  color: #007bff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
/* ----------- */